<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.chalmers.datx02_15_36.studeraeffektivt" >

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To access our webbaseddatabase: -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- -http://developer.android.com/training/multiscreen/screensizes.html -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/studie_coach"
        android:label="@string/app_name"
        android:theme="@style/Theme.Pluggapp" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <fragment
            android:name=".activity.TimerFrag"
            android:label="TimerFrag" />
        <fragment
            android:name=".activity.CalendarFrag"
            android:label="CalendarFrag" />
        <fragment
            android:name=".activity.TipFrag"
            android:label="TipFrag" />
        <fragment
            android:name=".activity.TipDetailedInfoFrag"
            android:label="TipDetailedInfoFrag" />
        <fragment
            android:name=".activity.Statistics"
            android:label="StatsFrag" />
        <fragment
            android:name="activity.HomeFrag"
            android:label="HomeFrag" />
        <fragment
            android:name=".activity.MyProfileFrag"
            android:label="@string/title_activity_activity_my_profile" >
        </fragment>

        <service android:name=".util.service.TimerService" >
        </service>

        <activity
            android:name=".activity.AddAssignmentActivity"
            android:label="@string/title_activity_study_task"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EventActivity"
            android:label="@string/title_activity_event"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.GetCoursesFromWebActivity"
            android:label="@string/title_activity_getAssignmetsFromWeb"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.TimerSettingsActivity"
            android:label="@string/title_activity_timersettings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DetailedInfoActivity"
            android:label="@string/title_activity_detailed_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TechsNTipsActivity"
            android:label="@string/title_activity_techs_ntips"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CourseDetailedInfoActivity"
            android:label="@string/title_activity_course_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ClosedCoursesActivity"
            android:label="@string/title_activity_course"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RepetitionActivity"
            android:label="@string/title_activity_repetition" >
        </activity>
        <activity
            android:name=".activity.CourseAssignmentsActivity"
            android:label="@string/title_activity_course_tasks" >
        </activity>

        <receiver android:name=".util.notification.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".util.notification.NotificationService"
            android:exported="false" />
    </application>

</manifest>
