/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store

*.bin
*/taskArtifacts/*
*/taskArtifacts/cache.properties.lock								
*/taskArtifacts/fileHashes.bin
*/taskArtifacts/fileSnapshots.bin
*/taskArtifacts/outputFileStates.bin
*/taskArtifacts/taskArtifacts.bin
*/dex-cache/cache.xml
*/model_data.bin
